<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> <!-- :: 루트 엘리먼트이름 -->
                        
<!-- 네임스페이스(사용영역) 설정 -->
<mapper namespace="com.cz.fms.vote">	
   <select id="votelist" resultType="com.cz.fms.vote.domain.Vote">
		 <![CDATA[
			SELECT *
			FROM   member 
			WHERE  member_num > 0 
			ORDER  BY member_num DESC
		 ]]>
	</select>
</mapper>